@keyframes spin {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(359deg);
    }
}



.loader {
    animation: ls linear infinite spin;
    font-size: 48px;
    text-align: center;
    transform: rotate(45deg);
}